
{% extends 'mysite/base.html' %}
{% load static %}

{% block content %}
<div class="container" style="margin-top:100px">
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="{% static 'mysite/images/memory-game.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Memory Game</h5>
        <p class="card-text">A simple memory game based on Javascript.</p>
        <a href="https://github.com/shanudjn/memoryGame" class="btn btn-primary">View in Github</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="{% static 'mysite/images/bookaroo.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Book-a-Roo</h5>
        <p class="card-text">A simple app to understand the interaction of Javascript with DOM.</p>
        <a href="https://github.com/shanudjn/BookaRoo" class="btn btn-primary">View in Github</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="{% static 'mysite/images/weather.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Weather App</h5>
        <p class="card-text">An app based on Javascript to understand the use of APIs and how to use them in our projects.</p>
        <a href="https://github.com/shanudjn/WeatherApp" class="btn btn-primary">View in Github</a>
      </div>
    </div>
  </div>


    <div class="card" style="width: 22rem; margin-top:50px;">
  <img class="card-img-top" src="{% static 'mysite/images/budget.png' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Budget Manager</h5>
    <p class="card-text">A app to keep account of your monthly budget.</p>
    <a href="https://github.com/shanudjn/BudgetApp" class="btn btn-primary">View in Github</a>
  </div>
</div>


</div>
{% endblock %}
